@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.menu-mobile {
    display: none;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #c8c8c8;
}

.logo {
    display: flex;
    align-items: center;
    color: #16507b;
}

.logo h1 {
    margin-left: 10px;
    font-size: 28px;
}

nav {
    display: flex;
    width: 88%;;
    align-items: center;
    justify-content: end;
}

nav a {
    color: #124265;
    transition: 0.5s;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover {
    color: #007bff;
    transition: 0.5s;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}

.menu .btn-menu:hover {
    background-color: #124265;
    color: white;
}

/* Section Main */

section.main {
    background-image: url(assets/1586388.jpg);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.main_cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main_cta h2 {
    color: #16507b;
    font-size: 40px;
}

.main_cta p {
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
}

.diferenciais-single {
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferenciais-single span {
    color: #124265;
    font-size: 23px;
}

.diferenciais-single h2 {
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferenciais-single p {
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

.sobre {
    padding: 88px 0;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre {
    display: flex;
    text-align: justify;
}

.conteudo-sobre p {
    margin: 0 20px;
}

.conquistas {
    background-color: #ecf6ff;
    padding: 20px 0;
}

.conquistas-single {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquistas-single h2 {
    font-size: 30px;
}

.patrocinio {
    background-color: #ecf6ff;
    padding: 20px 0;
}

.patrocinio-img {
    width: 25%;
    
    transform: scale(1.1);
    
}

.patrocinio-img img {
    max-width: 100%;
    transition: 1s;
    filter: grayscale(100%);
}

.patrocinio-img img:hover {
    transform: scale(1.1,1.1);
    filter: grayscale(0);
}

.outros {
    padding: 40px 0;
}

.dev {
    width: 50%;
}

.sobre-outros {
    width: 50%;
    padding: 0 50px;
}

.sobre-outros h2 {
    color: #124265;
    margin-bottom: 20px;
}

.sobre-outros p {
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}

.dev img {
    max-width: 100%;
}



/* Menu Mobile */

.menu-items {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #007bff;
    display: block;
    opacity: 0;
    transition: 0.4s;
}

.menu-mobile .show {
    display: block;
    opacity: 1;
}

.menu-mobile .hidde {
    display: none;
    opacity: 0;
}

.menu-items a {
    display: block;
    text-decoration: none;
    color: #007bff;
}










@media screen and (max-width: 768px){
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
    
    .menu-mobile span {
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }
    
    .diferenciais-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .conteudo-sobre {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .conteudo-sobre p {
        margin: 20px 20px;
    }
}